@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #222;
    background: #333;
}

hr {
    margin: 20px 0;
}

strong {
    font-weight: 500;
}

p,
ul {
    line-height: 1.7;
    word-wrap: break-word;
}

h1,
h2,
h3 {
    font-weight: 500;
    line-height: 1.45;
    word-wrap: break-word;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.35rem;
}

.btn {
    color: rgb(62, 151, 62);
    position: relative;
    letter-spacing: 1px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px 20px;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #222;
    transition: 0.3s;
}

.btn:hover {
    color: #222;
    background: rgb(62, 151, 62);
    cursor: pointer;
    transition: 0.3s
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1!important;
    background: #eee!important;
    border-color: #ddd!important;
    color: #999!important;
}

.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container.column {
    display: flex;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
}

.form-control select,
.form-control textarea {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: block;
    width: 100%;
    color: #2c3e50;
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    resize: none;
}

.form-control label {
    display: block;
    margin: 0 0 5px 5px;
    font-weight: 500;
}

.card {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card.card-w30 {
    width: 30%;
    height: 260px;
    margin-right: 15px;
}

.card.card-w70 {
    width: 70%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #333;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}